<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
</head>
<body>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/503e34fd66.js" crossorigin="anonymous"></script>

    <div class="container-fluid">
        <a href="mailto:rlawlsgh6306@gmail.com"><i class="social-icon fas fa-envelope"></i></a>
        <a href="https://www.instagram.com/jj1no"><i class="social-icon fab fa-instagram"></i></a>
        <a href="https://facebook.com/naekangs"><i class="social-icon fab fa-facebook"></i></a>
        <a href="https://twitter.com/rlawlsgh6306"><i class="social-icon fab fa-twitter"></i></a>
        <p>@Copyright 2021 Camap</p>
    </div>
</body>
</html>