<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <title>index</title>

  <style>
    /* Make the image fully responsive */
    .carousel-inner img {
      width: 100%;
      height: 25rem;
      object-fit: cover;
      /* overflow: hidden; */
    }

    #test_btn {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      margin-left: 4px;
    }

    #test_btn button:hover {
      color: white;
      background-color: skyblue;
    }
    </style>
</head>
<body>
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('images/coffebean-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Look at Camap</h1>
            <span class="subheading">서울 동대문구 카페들만 모아모아!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

    <!-- Main Content -->
    <div class="container">
        <!-- 슬라이드 -->
        <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active w-100 h-auto">
                    <img src="images/example1.jfif" alt="example1">
                    <div class="carousel-caption">
                    <h3>Today's Best Coffee</h3>
                    <p>아아가 제일 좋아!</p>
                    </div>   
                </div>
                <div class="carousel-item w-100 h-auto">
                    <img src="images/dessert.jpeg" alt="dessert">
                    <div class="carousel-caption">
                    <h3>Naekang's Pick Coffee</h3>
                    <p>쓰지않고 잠안오는 커피 세잔:)</p>
                    </div>   
                </div>
                <div class="carousel-item w-100 h-auto">
                    <img src="images/example3.jfif" alt="example3">
                    <div class="carousel-caption">
                    <h3>Leegwanh's Pick Coffee</h3>
                    <p>커피보다는 건강한 차 어떠세요?</p>
                    </div>   
                </div>
            </div>
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
        </div>

        <!-- 3 col -->
        <div class="row mt-5">
            <!-- <div class="col-md-10 mx-auto"></div> -->
                <div class="card col-lg-3 mx-auto">
                    <img src="images/lock.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Good morning!</p>
                        </div>
                </div>
                <div class="card col-lg-3 mx-auto">
                    <img src="images/lock.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Good evening!</p>
                            <button id="test_btn1" type="button" class="btn btn-primary img-button">Primary</button>
                        </div>
                </div>
                <div class="card col-lg-3 mx-auto">
                    <img src="images/lock.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Good Night!</p>
                        </div>
                </div>
            <!-- </div> -->
        </div>
    </div>
</body>
</html>