<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <title>index</title>

  <style>
    /* Make the image fully responsive */
    .carousel-inner img {
      width: 100%;
      height: 20%;
      object-fit: cover;
    }
    </style>
</head>
<body>
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('images/coffebean-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Look at Camap</h1>
            <span class="subheading">서울 동대문구 카페들만 모아모아!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  
  <!-- 슬라이드 -->
<div class="container">
  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/example1.jfif" alt="example1">
        <div class="carousel-caption">
          <h3>Today's Best Coffee</h3>
          <p>아아가 제일 좋아!</p>
        </div>   
      </div>
      <div class="carousel-item">
        <img src="images/example2.jfif" alt="example2">
        <div class="carousel-caption">
          <h3>Naekang's Pick Coffee</h3>
          <p>쓰지않고 잠안오는 커피 세잔:)</p>
        </div>   
      </div>
      <div class="carousel-item">
        <img src="images/example3.jfif" alt="example3">
        <div class="carousel-caption">
          <h3>Leegwanh's Pick Coffee</h3>
          <p>커피보다는 건강한 차 어떠세요?</p>
        </div>   
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

  <!-- 3 col -->
    <div class="row justify-content-evenly">
        <!-- <div class="col-md-10 mx-auto"></div> -->
            <div class="card col-lg-3 mx-auto">
                <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make
                            up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card col-lg-3 mx-auto">
                  <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make
                              up the bulk of the card's content.</p>
                      </div>
                  </div>
                  <div class="card col-lg-3 mx-auto">
                    <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make
                                up the bulk of the card's content.</p>
                        </div>
                    </div>
            </div>
        <!-- </div> -->
</div>

  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <div class="col-lg-4 post-preview">
          <a href="post.html">
            <h2 class="post-title">
              Man must explore, and this is exploration at its greatest
            </h2>
            <h3 class="post-subtitle">
              Problems look mighty small from 150 miles up
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on September 24, 2019</p>
        </div>

        <div class="col-lg-4 post-preview">
          <a href="post.html">
            <h2 class="post-title">
              I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
            </h2>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on September 18, 2019</p>
        </div>

        <div class="col-lg-4 post-preview">
          <a href="post.html">
            <h2 class="post-title">
              Science has not yet mastered prophecy
            </h2>
            <h3 class="post-subtitle">
              We predict too much for the next year and yet far too little for the next ten.
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on August 24, 2019</p>
        </div>

        <!-- <div class="col-lg-4 post-preview">
          <a href="post.html">
            <h2 class="post-title">
              Failure is not an option
            </h2>
            <h3 class="post-subtitle">
              Many say exploration is part of our destiny, but it’s actually our duty to future generations.
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on July 8, 2019</p>
        </div> -->
        <hr>
        
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>