<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>camap</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Frijole&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Frijole&family=Knewave&display=swap" rel="stylesheet">
    
</head>
<body>
    <section id="header"> 
        <%- include('header') %>
    </section> 
    <section> 
        <%- body %> 
    </section> 
    <section id="footer"> 
        <hr> 
        <%- include('footer') %> 
    </section> 
</body>
</html>