<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href='/stylesheets/login.css'>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<body>
    <section class="login-form">
        <h1>CAMAP</h1>
        <form action="">
            <div class="int-area">
                <input type="text" name="id" id="id" autocomplete="off" required>
                <label for="id">FIRST NAME</label>
            </div>
            <div class="int-area">
                <input type="text" name="id" id="id" autocomplete="off" required>
                <label for="id">LAST NAME</label>
            </div>
            <div class="int-area">
                <input type="text" name="id" id="id" autocomplete="off" required>
                <label for="id">USER NAME</label>
            </div>
            <div class="int-area">
                <input type="email" name="id" id="id" autocomplete="off" required>
                <label for="id">E-MAIL</label>
            </div>
            <div class="int-area">
                <input type="password" name="pw" id="pw" autocomplete="off" required>
                <label for="pw">PASSWORD</label>
            </div>
            <div class="int-area">
                <input type="password" name="pw" id="pw" autocomplete="off" required>
                <label for="pw">PASSWORD</label>
            </div>
            <div class="int-area">
                <label class="int-area" for="check-1"><input type="radio" name="autoLogin" id="check-1">APPLY</label>
            </div>
            <div class="btn-area">
                <button type="submit">SIGN UP</button>
            </div>
        </form>
        
    </section>

    <script>
        let id = $('#id');
        let id = $('#pw');
        let id = $('#btn');

        // $(btn).on('click', funtion() {
        //     if($(id).val() == "") {
        //         $(id).next('label').addClass('warning');
        //         setTimeout(funtion() {
        //             $('label').removeClass('warning');
        //         },1500);
        //     }
        //     else if($(pw).val() == "") {
        //         $(pw).next('label').addClass('warning');
        //         setTimeout(funtion() {
        //             $('label').removeClass('warning');
        //         },1500);
        //     }
        // });
    </script>


</body>
</html>